@import 'index.css';

.profile {
    padding: 10px;
    margin: 50px 0px;
    max-width: 400px;

    border-radius: 2px;
    background-color: var(--dark-clr-2);
}

@media screen and (max-width: 400px) {
    .profile {
        width: 100%;

        margin-left: 10px;
        margin-right: 10px;
    }
}

.description {
    padding: 10px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    text-align: center;
    background-image: linear-gradient(45deg, var(--accent-clr-1), var(--light-clr-3), var(--dark-clr-2));
}

.description :first-child {
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 36px;
    font-weight: 600;
}

.tag {
    font-size: 24px;
}

.location {
    font-size: 28px;
}

.name,
.tag,
.location {
    color: var(--dark-clr-3);
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    background-image: linear-gradient(160deg, var(--dark-clr-3), var(--accent-clr-1));
}

.statsChild {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2px 0px 2px 2px;
    padding: 5px;
    width: 150px;

    background-color: var(--dark-clr-2);
}

.stats :last-child {
    margin-right: 2px;
}

.label {
    font-size: 22px;

    color: var(--light-clr-2);
}

.quantity {
    font-size: 26px;

    color: var(--light-clr-1);
}