:root {
    --transaction-light-clr-1: #f1f1f1;
    --transaction-light-clr-2: #315dd62d;

    --transaction-dark-clr-1: #4110c7;
    --transaction-dark-clr-2: #2d0697;
    --transaction-dark-clr-3: #12043e;
}

.table-container {
    width: 1000px;
}

.transactionHistory {
    margin: 50px 0px;

    width: 1000px;

    text-align: center;
    border-collapse: collapse;
}

.transactionHistory th {
    padding: 10px;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    border-bottom: 1px solid var(--transaction-dark-clr-2);

    color: var(--transaction-light-clr-1);
    background-color: var(--transaction-dark-clr-3);
}

.transactionHistory tr {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.5px;

    color: var(--transaction-light-clr-1);
    background-color: var(--transaction-light-clr-2);
}

.transactionHistory tr:nth-child(odd) {
    color: var(--transaction-dark-clr-3);
    background-color: var(--transaction-light-clr-1);
}

/* Стилі для комірок таблиці */
.transactionHistory td {
    padding: 10px;
    border-bottom: 1px solid var(--transaction-light-clr-1);
}