@import 'index.css';

.friendList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    gap: 25px;
    margin: 50px 0px;
    padding: 20px;

    max-width: 900px;
    border-radius: 2px;

    background-image: linear-gradient(150deg, var(--dark-clr-2), var(--dark-clr-1));
}