/* @import-normalize; */
/* bring in normalize.css styles */
@import './components/Profile/Profile.module.css';
@import './components/Statics/Statics.module.css';

:root {
  --body-bck-clr: rgba(11, 88, 46, 0.322);

  --light-clr-1: #d3dfe1;
  --light-clr-2: #b6c3c7;
  --light-clr-3: #69797b;

  --dark-clr-1: #054343;
  --dark-clr-2: #0a8270;
  --dark-clr-3: #052010;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--body-bck-clr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
  height: 100vh;

  font-size: 40px;
}